#mainNav {
    padding: 20px 0;
}

.mainLogo {
    margin:0; 
    padding: 0;
}

.bg-container-wrapper {
    width: 100vw; height: 100%; position: absolute; z-index: -9;
}

#player {
    height: 100vmax;width: 300vmax;margin-left: -100vmax;
}

header{
    background-image: none !important;
}

#services {
    background: #fff;
}

/*.playfair-font {
    font-family: 'Playfair Display', serif;
    font-style: normal !important;
    font-size: 24px !important;
    line-height: 28px !important;
}
*/
.intro-lead-in {
    font-family: 'Playfair Display', serif !important;
    font-style: normal !important;
    font-size: 40px;
    line-height: 40px;   
}


@media (max-width: 768px) {
    #player {
        display: none;
    }

    #banner {
        background: url("../img/na-poster.jpg") no-repeat center center;
        background-size: cover;
        width: 100%;
        height: 100vmax;
    }

    header .intro-text {
        padding-top: 150px !important;
    }

    .navbar-custom .navbar-brand {
        margin-left: 15px;
    }
}